# 屏蔽特定文件夹
INSPR/
DECODE/
nn_train/
nn_train_loc/
nn_train_loc_back/
beads/
uiPSF/
VAR/
neuronal_network/runs/
neuronal_network_v2/runs/
neuronal_network_v3/runs/

# 屏蔽特定文件
emitters.h5
memory_log.csv
phase_retrieval_gs.py

# Ignore TensorBoard log files and other large training outputs
neuronal_network_v2/runs/
neuronal_network_v3/runs/
*.tfevents.*
checkpoints/
*.pth
*.pt
*.h5
*.hdf5
*.png
# 模型文件
*.pth
*.pt
*.ckpt
*.model
# 压缩文件
*.zip
*.tar.gz
*.rar
