# 屏蔽特定文件夹
INSPR/
DECODE/
nn_train/
nn_train_loc/
nn_train_loc_back/
beads/
uiPSF/
VAR/

# 屏蔽特定文件
emitters.h5
memory_log.csv
phase_retrieval_gs.py
phase_retrieval_gs copy.py
pre_processing_dataset.py
pre_procesiing.py
resume_training.py
zernike_coefficients_dataset_plot.py
zernike_coefficients_plot.py

# 屏蔽md file
README_MEMORY_OPTIMIZATION.md
README_RESUME_TRAINING.md

# 屏蔽所有的npy文件
*.pdf
*.npy
*.tiff
*.h5
*.png
# 模型文件
*.pth
*.pt
*.ckpt
*.model
# 压缩文件
*.zip
*.tar.gz
*.rar
